# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs/
*.class
.vscode

# Files from Forge MDK
forge*changelog.txt

# SA-related files
*.dff 
*.img
*.txd
*.ifp